extends layout 

block content 
    h1=title

    if genre_list.length > 0
        each genre in genre_list 
            div.listing
                a(href=genre.url) #{genre.name}
    else 
        p No genres added.
    
    hr
