extends layout 

block content 
    h1 title: !{genre.name}

    p Are you sure you want to delete this genre?

    form(method='POST' action='')
        div.form-group
            input.form-control(
                type='hidden',
                required=;true,
                value=genre._id,
            )
        button(type='submit') Delete