extends layout 

block content 
    h1=title

    ul 
        each song in songs 
            li 
                a(href=song.url) !{song.title}


    hr
    p 
        a(href=genre.url+'/delete') Delete Genre
