doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar
      ul 
        li 
          a(href='/home') Home
        li 
          a(href='/home/genres') All Genres
        li 
          a(href='/home/songs') All Songs
        li 
          a(href='/home/playlists') All Playlists

        hr

      ul 
        li 
          a(href='/home/genres/add') Add Genre
        li 
          a(href='/home/songs/add') Add Song
        li 
          a(href='/home/playlists/add') Create Playlist

    block content
