extends layout 

block content 

    h1=title

    if playlist_list.length > 0

        each playlist in playlist_list 
            div.listing
                a(href=playlist.url) #{playlist.name}
    else 
        p No playlists found. 
