extends layout 

block content 

    h1=title 

    each song in song_list 
        div.listing
            a(href=song.url) #{song.title}
            p
                each genre in song.genre 
                    span.song-genres=genre.name

    
    else 
        li No songs added.